{% extends "Pokemon/basePokemon.html.twig" %}

{% block contenido %}
            <div class="container">
                <div class="row">
                    <div class="col text-center"><h2>{{pokemon.name}} Nº {{pokemon.code}}</h2></div>
                </div>
                <div class="row">
                    <div class="col">
                        <img src="{{pokemon.image}}">
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col">{{pokemon.description}}</div>
                        </div>
                        <div class="row">
                            <ul>
                              {% for debilidad in pokemon.debilidades %}
                                <li>{{ debilidad.name }}</li>
                              {% endfor %}
                            </ul>
                        </div>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/_HZM0QiuUS8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
{% endblock %}
